.body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #ccc;
}

.inbody {
  box-sizing: border-box;
  width: 1450px;
  height: 80px;
  background-color: antiquewhite;
}